body {
    background-color: rgb(192, 192, 192);
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
}

.valid {
    background-color: green
}

.invalid {
    background-color: red;
}

img {
    max-width: 100%;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

.brand-logo {
    top: 35%;
    left: 10%;
    width: 8rem;
    height: 4rem;
    font-size: 0;
}

.card-content {
    background-color: rgba(255, 255, 255, 0.7) !important;
    position: relative;
    bottom: 40%;
    z-index: 1;
    height: 40% !important;
    font-weight: bold !important;
}

.card-image {
    height: 500px !important;
    max-height: 100% !important;
}

