@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;600;700&display=swap');

body, button, .btn, .card, .card-title {
    font-family: 'Barlow Condensed';
    font-weight: 400 !important;
}

.image-wrapper {
    background-image: url("/static/images/landing_image.jpg");
    background-position: center center;
    background-size: cover;
    height: 30vh;
}

.form-wrapper {
    height: 30vh;
    background-color: #0b0b0b !important;
}

footer {
    width: 100%;
    height: 30vh;
}

.media-links {
    height: 5vh;
    width: 100%;
    margin: 20px;
}

img {
    max-width: 100%;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

.brand-logo {
    top: 35%;
    left: 5%;
    width: 8rem;
    height: 4rem;
    font-size: 0;
}

.sidenav {
    background-image: url("/static/images/side-nav.jpg");
    background-position: center center;
    background-size: cover;
    padding-top: 10vh;
}

.messages {
    font-size: 2rem;
}

.card-content {
    background-color: rgba(255, 255, 255, 0.7) !important;
    position: relative;
    bottom: 40%;
    z-index: 1;
    height: 40% !important;
}

.card-image {
    height: 500px !important;
    max-height: 100% !important;
    overflow-y: clip;
}

.item-container {
    margin-bottom: 15vh;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Media Queries */
/* Overwrite Materialize container width on screens larger than 993px */

@media only screen and (min-width: 993px) {
    .item-container {
        width: 80% !important;
    }
}

/* On screens smaller than 993 overwrite Materialize "medium" class */
@media only screen and (max-width: 993px) {
    i.medium {
        font-size: 2rem !important;
    }

    .brand-logo {
        top: 5%;
        left: 5%;
        width: 6rem;
        height: 4rem;
        font-size: 0;
    }

}

@media only screen and (min-width : 1600px)  {
    .image-wrapper {
        background-image: url("/static/images/landing_image_large.jpg");
    }
}