<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Search engine meta data -->
    <meta name="description" content="Personal Whisky Collection Portal">
    <meta name="keywords" content="whiskey, whisky, scotch, single malt, collection">
    <meta name="author" content="TopShelf">
<!-- Stylesheet dependencies -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Top Shelf</title>
</head>

<body>
    
    <header>
        <!-- Navbar Start. Was built with Materialize Mobile Component Navbar, styled and modified to suit this site's purpose  -->
        <!-- Extended navbar -->
        <nav>
            <div class="nav-wrapper">
                <a href="{{ url_for('get_items') }}" class="brand-logo">Logo</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_items') }}">All Shelves</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_stock') }}">Add to Shelf</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            </nav>

        <!-- Mobile navbar -->
            <ul class="sidenav" id="mobile-demo">
                <li><a href="{{ url_for('get_items') }}">All Shelves</a></li>
                {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_stock') }}">Add to Shelf</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        <!-- NavBar End -->
    </header>

    <!-- Section displays flash messages to the user -->
    <section class="messages">

    </section>
    <!-- Section for main content -->
    <section class="main-content">
        {% block content %}

        {% endblock %}
    </section>

    <!-- Footer Start -->
    <footer>
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <a href="https://github.com/CristianBuca" target="_blank" rel="noopener" 
            aria-label="Find us on Github (link opens in a new tab)"><i class="fab fa-github-square"></i></a>
        <a href="https://www.linkedin.com" target="_blank" rel="noopener" 
            aria-label="Connect with us on LinkedIn (link opens in a new tab)"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com" target="_blank" rel="noopener" 
            aria-label="Find us in Facebook (link opens in a new tab"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.twitter.com" target="_blank" rel="noopener" 
            aria-label="Find us on Twitter (link opens in a new tab"><i class="fab fa-twitter-square"></i></a>
        {% if session.user %}
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i></a>
        {% endif %}
    </footer>
    <!-- Footer End -->

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>