<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Search engine meta data -->
    <meta name="description" content="Personal Whisky Collection Portal">
    <meta name="keywords" content="whiskey, whisky, scotch, single malt, collection">
    <meta name="author" content="TopShelf">
<!-- Stylesheet dependencies -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    {% block styles %}
    {% endblock %}

<!-- Check if title variable is provided by the route and display it -->
    {% if title %}
        <title>Top Shelf Scotch - {{ title }}</title>
    {% else %}
        <title>Top Shelf Scotch</title>
    {% endif %}
</head>

<body>
    <header>
        <!-- Navbar Start. Was built with Materialize Mobile Component Navbar, styled and modified to suit this site's purpose  -->
        <!-- Extended navbar -->
        <div class="navbar-fixed">
            <nav class="blue-grey darken-4">
                <div class="nav-wrapper">
                    <a href="{{ url_for('get_items') }}" class="brand-logo hoverable" aria-label="Site Logo">
                        <img src="/static/images/icons/logo.png" alt="Logo">Logo
                    </a>
                    <a href="{{ url_for('get_items') }}" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i>Sidenav</a>
                    <ul class="hide-on-med-and-down right ext-links">
                        <li><a class="yellow-text text-lighten-5 hoverable" href="{{ url_for('get_items') }}">All Shelves</a></li>
                        <!-- Check session cookies if user is logged in and display Navbar links accordingly -->
                        {% if session.user %}
                            <li><a class="yellow-text text-lighten-5 hoverable" href="{{ url_for('my_shelf') }}">My Shelf</a></li>
                            <li><a class="yellow-text text-lighten-5 hoverable" href="{{ url_for('add_stock') }}">Add to Shelf</a></li>
                            <li><a class="yellow-text text-lighten-5 hoverable" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        {% else %}
                            <li><a class="yellow-text text-lighten-5 hoverable" href="{{ url_for('login') }}">Login</a></li>
                            <li><a class="yellow-text text-lighten-5 hoverable" href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>


        <!-- Mobile navbar -->
        <ul class="sidenav center-align" id="mobile-demo">
            <li><a class="deep-orange darken-4 hoverable btn" href="{{ url_for('get_items') }}">All Shelves</a></li>
            <!-- Check session cookies if user is logged in and display Navbar links accordingly -->
            {% if session.user %}
                <li><a class="deep-orange darken-4 hoverable btn" href="{{ url_for('my_shelf') }}">My Shelf</a></li>
                <li><a class="deep-orange darken-4 hoverable btn" href="{{ url_for('add_stock') }}">Add to Shelf</a></li>
                <li><a class="deep-orange darken-4 hoverable btn" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            {% else %}
                <li><a class="deep-orange darken-4 hoverable btn" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="deep-orange darken-4 hoverable btn" href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
        <!-- NavBar End -->
                        
        <!-- Section displays flash messages to the user -->
        <section class="messages center-align">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>

        <!-- Fixed Action Button at the bottom of page was build using Materialize Component -->
        <!-- Check to see if user is logged in before being displayed -->
        {% if session.user %}
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large right hoverable"><i class="fas fa-user-cog deep-orange darken-4"></i></a>
                <ul>
                    <li><a class="btn-floating hoverable" href="#"><i class="fas fa-home deep-orange darken-4"></i>Go to Top</a></li>
                    <li><a class="btn-floating hoverable" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt deep-orange darken-4"></i>Logout</a></li>
                </ul>
            </div>
        {% endif %}
    </header>

    <!-- Section for main content -->
    <section class="main-content">
        {% block content %}

        {% endblock %}
    </section>

    <!-- Footer Section Start -->
    <section>
        <footer class="orange lighten-3">
            <div class="row">  
                <div class="media-links col s12 center-align">
                    <a href="https://github.com/CristianBuca" target="_blank" rel="noopener" 
                        aria-label="Find us on Github (link opens in a new tab)">
                        <i class="fab fa-github-square blue-grey-text text-darken-4 text-shadow hoverable"></i></a>
                    <a href="https://www.linkedin.com" target="_blank" rel="noopener" 
                        aria-label="Connect with us on LinkedIn (link opens in a new tab)">
                        <i class="fab fa-linkedin blue-grey-text text-darken-4 text-shadow hoverable"></i></a>
                    <a href="https://www.facebook.com" target="_blank" rel="noopener" 
                        aria-label="Find us in Facebook (link opens in a new tab">
                        <i class="fab fa-facebook-square blue-grey-text text-darken-4 text-shadow hoverable"></i></a>
                    <a href="https://www.twitter.com" target="_blank" rel="noopener" 
                        aria-label="Find us on Twitter (link opens in a new tab">
                        <i class="fab fa-twitter-square blue-grey-text text-darken-4 text-shadow hoverable"></i></a>
                </div>
            </div>
            <div class="row footer-copyright">
                <div class="col s6 left-align">© 2022 Copyright Top Shelf</div>
                <div class="col s6 right-align">Developed for educational purposes only</div>
              </div>
        </footer>
    </section>
    <!-- Footer End -->

    <!-- Global Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
    {% block scripts %}
    {% endblock %}

</body>
</html>