<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Search engine meta data -->
    <meta name="description" content="Personal Whisky Collection Portal">
    <meta name="keywords" content="whiskey, whisky, scotch, single malt, collection">
    <meta name="author" content="TopShelf">

    <title>Top Shelf</title>
</head>
<body>
    
    {% block content %}
    {% endblock %}

</body>
</html>