{% extends "base.html" %}
{% block content %}

<!-- Add item to DB form card Start -->
<div class="row">
    <form class="col s12 m6" method="POST" action="">
        <div class="card-panel">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Add to your shelf</legend>
                <div>
                    {{ form.region.label }}

                    {% if form.region.errors %}
                        {{ form.region(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.region.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.region(class="browser-default")}}
                    {% endif %}
                </div>
                <div>
                    {{ form.name.label }}
                    
                    {% if form.name.errors %}
                        {{ form.name(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="valid")}}
                    {% endif %}
                </div>
                <div>
                    {{ form.age.label }}
                    
                    {% if form.age.errors %}
                        {{ form.age(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.age(class="valid")}}
                    {% endif %}
                </div>
                <div>
                    {{ form.distillery.label }}
                    
                    {% if form.distillery.errors %}
                        {{ form.distillery(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.distillery.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.distillery(class="valid")}}
                    {% endif %}
                </div>
                <div>
                    {{ form.notes.label }}
                    
                    {% if form.notes.errors %}
                        {{ form.notes(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.notes.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.notes(class="valid")}}
                    {% endif %}
                </div>
                <div>
                    {{ form.image.label }}
                    
                    {% if form.image.errors %}
                        {{ form.image(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.image.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.image(class="valid")}}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <label for="share">
                                <input type="checkbox" id="share" name="share">
                                <span class="lever"></span>
                                Share with others
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
        </div>
    </form>
</div>
<!-- Add item to DB form card End -->

{% endblock %}