{% extends "base.html" %}
{% block content %}

<!-- Add item to DB form card Start -->
<div class="row">
    <div class="col s12 m6 image-wrapper"></div>
    <div class="hide-on-small-only col m6 top-wrapper center-align">
        <h3 class="orange-text text-lighten-3">You are updating {{ form.name.data }}</h3>
    </div>
    <form class="col s12 m6" method="POST" action="">
        <div class="card-panel">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Change Item on Your Shelf</legend>
                <div>
                    {{ form.region.label }}

                    {% if form.region.errors %}
                        {{ form.region(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.region.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.region(class="browser-default")}}
                    {% endif %}
                </div>
                <div>
                    {{ form.name.label }}
                    
                    {% if form.name.errors %}
                        {{ form.name(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="valid")}}
                    {% endif %}
                </div>
                <div>
                    {{ form.age.label }}
                    
                    {% if form.age.errors %}
                        {{ form.age(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.age(class="valid")}}
                    {% endif %}
                </div>
                <div>
                    {{ form.distillery.label }}
                    
                    {% if form.distillery.errors %}
                        {{ form.distillery(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.distillery.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.distillery(class="valid")}}
                    {% endif %}
                </div>
                <div>
                    {{ form.notes.label }}
                    
                    {% if form.notes.errors %}
                        {{ form.notes(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.notes.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.notes(class="valid")}}
                    {% endif %}
                </div>
                <div>
                    {{ form.image.label }}
                    
                    {% if form.image.errors %}
                        {{ form.image(class="invalid") }}
                        <div class="invalid">
                            {% for error in form.image.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.image(class="valid")}}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <label for="share">
                                <input type="checkbox" id="share" name="share" checked>
                                <span class="lever"></span>
                                Share with others
                            </label>
                        </div>
                    </div>
                </div>
                <div class="right">
                    {{ form.submit (class="btn")}}
                </div>
                <div class="left">
                    <a href="{{ url_for('my_shelf') }}" class="btn">Cancel</a>
                </div>
            </fieldset>
        </div>
    </form>
</div>
<!-- Add item to DB form card End -->

{% endblock %}