{% extends "base.html" %}
{% block content %}

    <!-- Hero Image and Title Area -->
    <div class="row">
        <div class="col s12 m6 image-wrapper"></div>
        <div class="hide-on-small-only col m6 top-wrapper center-align">
            <h3 class="orange-text text-lighten-3">Welcome to Top Shelf</h3>
            <h4 class="yellow-text text-lighten-5">Input your credentials below to access your personal shelf</h4>
        </div>
    </div>

    <!-- Login form card Start -->
    <div class="row">
        <form class="col s12 m8 l6 offset-m2 offset-l3 login-form" method="POST" action="">
            <div class="card-panel z-depth-4">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Login Us!</legend>
                    <div>
                        {{ form.username.label }}
                        
                        {% if form.username.errors %}
                            {{ form.username(class="invalid") }}
                            <div class="invalid">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="valid")}}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.password.label }}

                        {% if form.password.errors %}
                            {{ form.password(class="invalid") }}
                            <div class="invalid">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="valid")}}
                        {% endif %}
                    </div>
                </fieldset>
                <br>
                <div class="center">
                    {{ form.submit(class="btn-large light-green darken-3 hoverable yellow-text text-lighten-5") }}
                </div>
                <div class="right">
                    Not Registered Yet? <a href="{{ url_for('register')}}">Register</a>
                </div>
                <br>
            </div>
        </form>
    </div>
    <!-- Login form End -->

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="{{url_for('static', filename='js/form_validation.js') }}"></script>
{% endblock %}