{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <ul class="collapsible popout">
            {% for item in my_shelf %}
                <li>
                    <div class="collapsible-header"><i class="material-icons"></i>{{ item.item_name }}</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-image">
                                    <img src="{{ item.image }}">
                                    </div>
                                    <div class="card-content">
                                        <p>{{ item.region_name }}</p>
                                        <p>{{ item.age }}</p>
                                        <p>{{ item.distillery }}</p>
                                        <p>{{ item.notes }}</p>
                                    </div>
                                    <div class="card-action">
                                        <a class="waves-effect waves-light btn" href="{{ url_for('change_stock', item_id=item._id) }}">Change</a>
                                        <button data-target="remove-{{ item._id }}" class="btn modal-trigger">Remove from Shelf</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <div id="remove-{{ item._id }}" class="modal">
                    <div class="modal-content">
                        <h4>{{ item.item_name }}</h4>
                        <p>Are you sure you want to remove it from your shelf?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn">Keep it</a>
                        <a class="waves-effect waves-light btn" href="{{ url_for('remove_stock', item_id=item._id) }}" class="modal-close waves-effect waves-green btn-flat">Remove from Shelf</a>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}