{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m6">
        <div class="card-panel">
            <h1>{{ user.username }}' Profile</h1>
            <!-- Registration form card Start -->
            <div class="row">
                <form class="col s12 m6" method="POST" action="">
                    <div class="card-panel">
                        {{ form.hidden_tag() }}
                        <fieldset>
                            <legend>Update your profile</legend>

                            <!-- Username input field-->
                            <div>
                                <label for="username">Username - Can't be changed</label>
                                
                                {% if form.username.errors %}
                                    {{ form.username(class="invalid") }}
                                    <div class="invalid">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="valid", readonly=true)}}
                                {% endif %}
                            </div>

                            <!-- Email input field -->
                            <div>
                                <label for="email">Email - Can't be changed</label>

                                {% if form.email.errors %}
                                    {{ form.email(class="invalid") }}
                                    <div class="invalid">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="valid", readonly=true)}}
                                {% endif %}
                            </div>

                            <!-- Password input field -->
                            <div>
                                {{ form.password.label }}
            
                                {% if form.password.errors %}
                                {{ form.password(class="invalid") }}
                                <div class="invalid">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="valid")}}
                                {% endif %}
                            </div>

                            <!-- Password confirmation input field -->
                            <div>
                                {{ form.password_check.label }}
            
                                {% if form.password_check.errors %}
                                {{ form.password_check(class="invalid") }}
                                <div class="invalid">
                                    {% for error in form.password_check.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password_check(class="valid")}}
                                {% endif %}
                            </div>

                            <div>
                                <label for="avatar" class="form-label">Avatar</label>
                                <input class="form-control" id="avatar" name="avatar" value="{{ user.avatar }}" aria-describedby="avatar">
                            </div>
                            <!-- Form submit button -->
                            <div class="right">
                                {{ form.submit(class="btn") }}
                            </div>
                            <div class="left">
                                <a href="{{ url_for('my_shelf') }}" class="btn">Cancel</a>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            <!-- Registration form End -->
        </div>
    </div>
</div>

{% endblock %}