{% extends "base.html" %}
{% block content %}

<!-- Registration form card Start -->
<div class="row">
    <form class="col s12 m6" method="POST" action="">
        <div class="card-panel">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Join Us!</legend>
                <div>
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
            </fieldset>
           
           
        </div>
    </form>
</div>
<!-- Registration form End -->

{% endblock %}