{% extends "base.html" %}
{% block content %}

<!-- Registration form card Start -->
<div class="row">
    <form class="col s12 m6" method="POST" action="">
        <div class="card-panel">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Join Us!</legend>
                <div>
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div>
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div>
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <div>
                    {{ form.password_check.label }}
                    {{ form.password_check }}
                </div>
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
            <div>
                Already have an account? <a href="{{ url_for('login')}}">Log In</a>
            </div>
        </div>
    </form>
</div>
<!-- Registration form End -->

{% endblock %}