{% extends "base.html" %}
{% block content %}

    <ul class="collection">
        {% for user in users %}
            {% if user.superuser == False %}
                <li class="collection-item avatar">
                    <img src="{{ user.avatar }}" alt="" class="circle">
                    <span class="title">{{ user.username }}</span>
                    <p>{{ user.email }}</p>
                    <a href="{{ url_for('') }}" class="btn"><i class="fas fa-user-slash"></i></a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}