{% extends "base.html" %}
{% block content %}

    <div class="row search-section black">
        <div class="col s12 m6 image-wrapper"></div>
        <div class="col s12 m6 top-wrapper valign-wrapper">
            <form class="center-align" action="{{ url_for('super_search') }}" method="POST">
                <div class="row">
                    <h4 class="orange-text text-lighten-3 col s12">Search user or items database</h4>
                        <div class="input-field col s12">
                            <input type="text" name="super_search" id="super_search" minlength="3" class="validate orange-text text-lighten-3" required>
                            <label for="super_search" class="orange-text text-lighten-3">Search for user or item in Database</label>
                        </div>
                        <div>
                            <a href="{{ url_for('superuser') }}" class="btn light-green darken-3 waves-effect waves-light hoverable">Reset</a>
                            <button type="submit" class="btn light-green darken-3 waves-effect waves-light hoverable">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <ul class="collection">
        {% for user in users %}
            {% if user.superuser == False %}
                <li class="collection-item avatar">
                    <div class="row">
                        {% if user.avatar %}
                        <img src="{{ user.avatar }}" alt="user avatar" class="circle">
                            {% else %}
                        <img src="/static/images/avatar_default.jpg" alt="user avatar" class="circle">
                            {% endif %}
                        <span class="title">{{ user.username }}</span>
                        <p>{{ user.email }}</p>
                        <button data-target="remove-{{ user._id }}" class="btn modal-trigger secondary-content">Remove User</button>
                    </div>
                </li>
                <div id="remove-{{ user._id }}" class="modal">
                    <div class="modal-content">
                        <h4>{{ user.username }}</h4>
                        <p>Are you sure you want to remove user from database</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn">Keep it</a>
                        <a class="waves-effect waves-light btn" href="{{ url_for('remove_user', user_id=user._id) }}" class="modal-close waves-effect waves-green btn-flat">Remove</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </ul>

    <ul class="collection">
        {% for item in items %}
                <li class="collection-item avatar">
                    <div class="row">
                        {% if item.image %}
                            <img src="{{ item.image }}" alt="Image of {{item_name}}" class="circle">
                        {% else %}
                            <img src="/static/images/avatar_default.jpg" alt="Image of {{item_name}}" class="circle">
                        {% endif %}
                        <span class="title">{{ item.item_name }}</span>
                        <p>{{ item.owned_by }}</p>
                        <button data-target="remove-{{ item._id }}" class="btn modal-trigger secondary-content">Remove from Shelf</button>
                    </div>
                </li>
                <div id="remove-{{ item._id }}" class="modal">
                    <div class="modal-content">
                        <h4>{{ item.item_name }}</h4>
                        <p>Are you sure you want to remove from database</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn">Keep it</a>
                        <a class="waves-effect waves-light btn" href="{{ url_for('remove_stock', item_id=item._id) }}" class="modal-close waves-effect waves-green btn-flat">Remove</a>
                    </div>
                </div>
        {% endfor %}
    </ul>

{% endblock %}